
*{
    margin: 0px;
    padding: 0px;
}
header{
    margin-left: 4rem;
   margin-right: 4rem;
   
    
  
    
}
/*Styling for Header Section */
.top{

    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.image {
    height: 4rem;
    width: 4rem;
    margin-left: 5px;
    
}
.logo{
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-around;
    gap: 3em;
    list-style-type: none;
    margin-left: 162px;
    margin-right: 162px;
}
.nav>li>a{
    text-decoration: none;

}
.nav>li{
    text-decoration: none;
    
}
.contact_btn{
    background-color: #FEA301;
    border-radius: 12px;
    color: white;
    height: 50px;
    width: 197px;
    font-size: 20px;

}
.black_btn{
    background-color: black;
    border-radius: 12px;
    color: white;
    height: 50px;
    width: 197px;
    font-size: 20px;

}
.mobile_menu{
    display: none;
}

/*banner section design */

.banner{
    margin-top: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero_kid{
    max-width: 50%;
    

     
}
.empower{
    color: #FEA301;
}
.vision{
    color: #01ACFD;
}
/*card style*/
.card-headline{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.cards{
    margin-left: 4rem;
    margin-right: 4rem;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
}

.card-design{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    gap:10px;
    justify-content: space-around;
    align-items: center;
}
.each-card{
    text-align: center;
    border-radius: 18px;
    padding: 20px;
    width: 367px;
    height: 476px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    

    

}
.each-card>img{
    width: 136px;
    width: 136px;
}
.blue-gradient{
    background: linear-gradient(#DEF5FF,2%,white);
    border-style: solid;
    border-color: #DEF5FF;

}
.orange-gradient{
    background: linear-gradient(#FFF4DC,2%,white);
    border-style: solid;
    border-color: #FFF4DC;

}
.purple-gradient{
    background: linear-gradient(#F2E8FF,2%,white);
    border-style: solid;
    border-color: #F2E8FF;
    
}
.circle{
    background-color: #FEA301;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer{
    background-color: #01ACFD;
    height: 519px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footers{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
    padding: 4rem;
    
    
    color: white;
    
    
    
}
.footer-heading{
    display: flex;
    margin-bottom: 20px;
    


}
.footer-menu>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.all-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

   
    
  
    
}
.footer-media{
    display: flex;
    gap: 10px;
    align-items: center;
    
    
    

}
/*
.story-card{
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
    
    

}

.big-card{
    position: relative;
   
    
}
.big-card-img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.small-card{
    position: relative;
    }

    
.date{
    height: 47px;
    width: 174px;
    border-radius: 47px;
    background-color: #01ACFD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 314px;
    left: 40px;
}
.small-date{
    height: 40px;
    width: 160px;
    border-radius: 47px;
    background-color: #01ACFD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 40px;
}

.head{
    padding: 0;
}
.small-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
}
.small-card > img {
    width: 50%;
}
    */
    .story{
        display: flex;
         justify-content: space-around;
       
        margin-left: 4em;
        margin-right: 4em;
        margin-top: 4em;
        
       
        
        
        
        
    
    }
    .story-bg{
      background-image: url(../assets/bg.png);
      background-color: rgba(255,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
        
        
    
    }
    
    .story-brief{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 20px;
    
    }
    .small-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        
    }
    .small-card{
        border-radius: 20px;
        background-color: white;

    }
    .big-card{
        border-radius: 20px;
        background-color: white;
    }
    .mid-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    







@media  (max-width: 576px ) {
    header{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .school{
        display: none;
    }
   
 
    
    .nav{
        display: none;
        
    }
    .contact_btn{
        display: none;
    }
    .mobile_menu{
        padding: 20px;
        display: flex;
    }
    .top{
        justify-content: space-between;
        
    }
    .banner
    {
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column-reverse;
    }
    .details
    {
        text-align: center;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero_kid{
        max-width: 100%;
    }
    .card-design{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card-headline{
        
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .slider{
        display: none;
    }
    .footers{
        display: flex;
        flex-direction: column;
    }
    .big-card{
        display: none;
    }
    .small-card {
        width: 173px;
        height: 179px;
        
    }
    .small-card>img{
        width: 100%;
    }
    .story-brief{
        margin: 5px;
        padding: 2px;
    }

}

